<!DOCTYPE html>
<html lang="en">
<body>
<h1>
    <img src="{{.Host}}/static/gocms-favicon-128.png" alt="G" style="width: 2.5rem"/>
    GoCMS
</h1>
<main>
    <p>You or someone tried to create a GoCMS admin account with this e-mail address. If you are not responsible for
        this, please do not validate the account creation.</p>
    <p><b>If you want to validate the account creation, please <a href="{{.Host}}/register/validate?c={{.VerificationCode}}" target="_blank">click HERE</a>.</b>
    </p>
</main>
</body>
</html>
