<!DOCTYPE html>
<html lang="en">
<body>
<h1>
    <img src="{{.Host}}/static/gocms-favicon-128.png" alt="G" style="width: 2.5rem"/>
    GoCMS
</h1>
<main>
    <p>You or someone tried to create reset your GoCMS account with this e-mail address. If you are not responsible for
        this, please do not validate the password reset.</p>
    <p><b>If you want to reset your password, please <a
            href="{{.Host}}/register/reset/validate?c={{.VerificationCode}}&email={{.Email}}" target="_blank">click HERE</a>.</b>
    </p>
    <p>If you can't click the link:</p>
    <p>{{.Host}}/register/reset/validate?c={{.VerificationCode}}&email={{.Email}}</p>
</main>
</body>
</html>
