<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<title>GohCMS | Connexion</title>

	<link rel="stylesheet" href="/static/bootstrap.min.css" type="text/css">
	<script src="/static/bootstrap.min.js"
			type="application/javascript"
			defer></script>

	<style>
        .form-container {
            max-width: 24rem;
        }
	</style>
</head>
<body class="d-flex min-vh-100 vw-100 justify-content-center align-items-center text-dark">
<div class="container">
	<div class="d-flex flex-column gap-5 m-auto form-container">
		<h1>GohCMS</h1>
		<form action="login" class="" method="POST">
			<div class="d-flex flex-column gap-4">
				<div class="form-floating">
					<input class="form-control {{ if .IsError }} is-invalid {{ end }}"
						   id="username"
						   name="username"
						   placeholder="Nom d'utilisateur"
						   required
						   type="text"
						   value="{{.Username}}">
					<label for="username">Nom d'utilisateur</label>
				</div>
				<div class="form-floating">
					<input class="form-control {{ if .IsError }} is-invalid {{ end }}"
						   id="password"
						   name="password"
						   placeholder="Mot de passe"
						   required
						   type="password">
					<label for="password">Mot de passe</label>
					<div class="invalid-feedback">{{.Error}}</div>
				</div>
				<button id="loginFormButton" class="btn btn-primary" disabled type="submit">
						<span class="loginFormButtonLoading visually-hidden spinner-border spinner-border-sm"
							  role="status"></span>
					<span class="loginFormButtonDefault">Se connecter</span>
				</button>
			</div>
		</form>
	</div>
</div>

<script>
    const button = document.querySelector("#loginFormButton")
    const inputs = document.querySelectorAll('input')

    function formFieldsEmpty() {
        return Array.from(inputs).some((input) => input.value === "")
    }

    function setButtonDisabled() {
        button.disabled = formFieldsEmpty() ? "disabled" : ""
    }

    function setButtonLoading() {
        button.classList.add("disabled")
        button.querySelector(".loginFormButtonDefault").classList.add("visually-hidden")
        button.querySelector(".loginFormButtonLoading").classList.remove("visually-hidden")
    }

    function onLoginFormSubmit(event) {
        event.preventDefault()
        setButtonLoading()
        event.target.submit()
    }

    function onInput(event) {
        if (event.target.tagName === "INPUT") setButtonDisabled()
    }

    window.addEventListener('submit', onLoginFormSubmit)
    window.addEventListener('input', onInput)
    setButtonDisabled()
</script>

</body>
</html>
