<!DOCTYPE html>
<html lang="en">
<head>
    <title>GoCMS | Home</title>
    {{.Head}}
</head>
<body class="text-dark">
{{.Navbar}}
<div class="container mt-3 text-black-50">
    <h1>Implementation</h1>
    <p>How to use headless API</p>
    <div class="mt-5">
        <section>
            <h2>Introduction</h2>
            <p>This documentation explains how to integrate our headless CMS API to retrieve post data via the <code>/post</code>
                route.</p>
        </section>
        <section>
            <h2>/v1/post</h2>
            <p>The <code>{{ .Host }}/v1/post</code> route returns a list of posts in JSON format. Each post has the
                following
                structure:</p>
            <pre>
<code>[
  {
    "id": 12,
    "title": "This is a post!",
    "body": "&lt;p&gt;?&lt;/p&gt;\r\n&lt;p&gt;&lt;img src=\"../../static/uploadedImages/649691a8-4f2e-48ca-9abe-27a60621d2e4.png\"
                             alt=\"\" width=\"391\" height=\"465\"&gt;&lt;/p&gt;",
    "created_at": "2024-06-13T15:30:55.3563238+02:00",
    "updated_at": "2024-06-13T15:31:17.5508931+02:00"
  }
]</code>
            </pre>
        </section>
        <section>
            <h2>/v1/post/{id}</h2>
            <p>The <code>{{ .Host }}/v1/post/{id}</code> route returns a single post in JSON format. The post has the
                following
                structure:</p>
            <pre>
<code>{
  "id": 12,
  "title": "ravioli sans le ra et le i",
  "body": "<\p>?<\/p>\r\n<\p><\img src=\"../../static/uploadedImages/649691a8-4f2e-48ca-9abe-27a60621d2e4.png\" alt=\"\"
                               width=\"391\" height=\"465\"><\/p>",
  "images": [
    {
      "id": 17,
      "path": "/static/uploadedImages/649691a8-4f2e-48ca-9abe-27a60621d2e4.png",
      "post_id": 0,
      "created_at": "2024-06-13T15:31:09.728359+02:00",
      "updated_at": "2024-06-13T15:31:09.728359+02:00"
    }
  ],
  "created_at": "2024-06-13T15:30:55.3563238+02:00",
  "updated_at": "2024-06-13T15:31:17.5508931+02:00"
}</code>
            </pre>
        </section>
    </div>
</div>
</body>
</html>
