<!DOCTYPE html>
<html lang="en">
<head>
	<title>GohCMS | Post edition</title>
	{{.Head}}
</head>
<body class="text-dark">
{{.Navbar}}
<div class="container mt-3 text-black-50">
	<h1>Post - edition</h1>
	<form action="posts" method="POST">
		<label for="postContent">Edition</label>
		<textarea id="postContent" name="postContent"></textarea>
	</form>
</div>

<script src="/static/tinymce/js/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
        selector: '#postContent',
		promotion: false
    });
</script>
</body>
</html>
