<!DOCTYPE html>
<html lang="en">
<head>
	<title>GohCMS | Setup</title>
	{{.Head}}

	<style>
        .form-container {
            max-width: 24rem;
        }
	</style>
</head>
<body class="d-flex min-vh-100 vw-100 justify-content-center align-items-center text-dark">
<div class="container">
	<div class="d-flex flex-column gap-5 m-auto form-container">
		<div>
			<h1>GohCMS</h1>
			<h2>Verify your email</h2>
		</div>
		<p>An e-mail with the validation link was sent to the address you just registered.</p>
		<button id="finalSetupFormButton" class="btn btn-outline-primary" type="button">
						<span class="finalSetupFormButtonLoading visually-hidden spinner-border spinner-border-sm"
							  role="status"></span>
			<span class="finalSetupFormButtonDefault">Cancel</span>
		</button>
	</div>
</div>

<script>
</script>

</body>
</html>
